<div class="saved_review">
<p>You submitted the following on: <%= Time.new.strftime("%Y-%m-%d %H:%M:%S") %> </p>
  <ul>
    <li>
    <p id="name">Name: <%= @name %></p>
    </li>
    <li>
    <p id="age">Age: <%= @age %></p>
    </li>
    <li>
    <p id="title">Book Title: <%= @title %></p>
    </li>
    <li>
    <p id="review">Book Review: <%= @review %></p>
    </li>
  </ul>
  <a href="/form">Submit another review...</a>
</div>
